<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <form {{action 'submit' on='submit'}}>
      <div class="form-group">
        <label for="">Activity</label>
        {{input value=event.activity}}
      </div>
      <div class="form-group">
        <label for="">Date</label>
        {{input type="date" class="datepicker" value=event.date}}
      </div>
      <div class="form-group">
        <label for="">Time</label>
        {{input value=event.time data-default=event.time id="time-picker"}}
      </div>
      <div class="form-group">
        <label for="">Location</label>
        {{input value=event.location}}
      </div>
      <div class="form-group">
        <label for="">Description</label>
        {{textarea class='materialize-textarea' value=event.description}}
      </div>
      <button class="btn btn-primary waves-effect waves-light" type="submit">{{buttonLabel}}</button>
    </form>
  </div>
</div>

<script type="text/javascript">
   $('.datepicker').pickadate({
    format: 'yyyy-mm-dd',
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
  var input = $('#time-picker');
  input.clockpicker({
      autoclose: true
  });
</script>