<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <span class="card-title grey-text text-darken-1" style="font-weight: 600">{{card-data.activity}}</span>
    <p>Datetime: {{moment-format card-data.datetime 'DD/MM/YYYY'}}</p>
    <p>Description: {{card-data.description}}</p>
    <p>Host (debug): {{card-data.host.fullname}}</p>
    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 flow-text">
          <input disabled value="http://localhost:4200/events/{{card-data.id}}/notification" id="disabled" type="text" class="validate">          
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div>
        
    <h2>Things I have to add:</h2>
    <p>Who is invited</p>
    <p>Button to invite more people</p>
    <p>Suggestions</p>
    <p>Messages</p>
  </div>
  
  <div class="card-action" style="text-align:right; border:none; padding-bottom:10px">
    <i>Event is happening {{moment-from-now card-data.datetime}}</i>
  </div>

  <div class="card-action" style="float:right">
    {{#link-to 'events.edit' card-data.id class="light-green-text accent-4 response-button"}}Edit{{/link-to}}
  </div>
</div>

