<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <span class="card-title grey-text text-darken-2" style="font-weight: 600"><h4>{{card-data.activity}}</h4></span>
    <blockquote>
      <h6 class="grey-text text-darken-1">{{moment-format card-data.datetime 'LLL'}}</h6>
      <h6 class="grey-text text-darken-1">{{card-data.location}}</h6>    
      <div class="divider" style="margin:20px 20px 20px 0px"></div>
    </blockquote>
    <h6>{{card-data.description}}</h6>
    <div class="divider" style="margin:20px"></div>
    <h6>Invitation link:</h6>
    <textarea class="materialize-textarea">{{hostEventUrl}}{{card-data.id}}/invitation</textarea>

    {{response-details invitation-data=invitation-data}}    
  </div>
  
  <div class="card-action" style="text-align:right; border:none; padding-bottom:10px">
    <i class="grey-text text-darken-1">Event is happening {{moment-from-now card-data.datetime}}</i>
  </div>

  <div class="card-action" style="float:right">
    {{#link-to 'events.edit' card-data.id class="light-green-text accent-4 response-button"}}Edit{{/link-to}}
  </div>
</div>

{{back-button type="events"}}
