<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <span class="card-title grey-text text-darken-2" style="font-weight: 600"><h4>{{card-data.activity}}</h4></span>
    <blockquote>
      <h6 class="grey-text text-darken-1">{{moment-format card-data.datetime 'LLL'}}</h6>
      <h6 class="grey-text text-darken-1">{{card-data.location}}</h6>    
      <div class="divider" style="margin:20px 20px 20px 0px"></div>
    </blockquote>
    <h6>{{card-data.description}}</h6>
    
    {{!-- <p>Host (debug): {{card-data.host.fullname}}</p>     --}}
  </div>
  
  <div class="card-action" style="text-align:right; border:none; padding-bottom:10px">
    <i class="grey-text text-darken-1">Event is happening {{moment-from-now card-data.datetime}}</i>
  </div>

  <div class="card-action" style="float:right">
    {{!-- An action called in this component must have that corresponding action
    in the actions hash OF THE COMPONENT --}}
    {{#link-to 'events.edit' card-data.id class="light-green-text accent-4 response-button"}}Edit{{/link-to}}
    {{#link-to 'events.show' card-data.id class="light-blue-text darken-4 response-button"}}Details{{/link-to}}
  </div>
</div>

{{!-- {"events":[{"id":"5eeaec048b03d7f5a26e45e107c5ce96f9e8f160df083f09","activity":"eat sleep slack","location":"your house","datetime":"2015-08-30T00:00:00.000+08:00","description":"no idea what to do","created_at":"2015-08-04T18:03:19.087+08:00","updated_at":"2015-08-04T18:03:19.087+08:00","host":{"id":2,"created_at":"2015-08-04T17:59:09.852+08:00","updated_at":"2015-08-04T22:14:56.148+08:00","fullname":"Tester 1","username":"tester1","admin":false,"auth_token":"YpEEF9xFJuDo8x-y7Zqr"}},{"id":"8318f118e8bb9629ea2eaedd5b53bb5a7ca64786a425dda6","activity":"Do nothing for the day","location":"My house","datetime":"2015-08-30T00:00:00.000+08:00","description":"IDK do what shitx","created_at":"2015-08-04T19:07:29.499+08:00","updated_at":"2015-08-04T19:46:00.308+08:00","host":{"id":2,"created_at":"2015-08-04T17:59:09.852+08:00","updated_at":"2015-08-04T22:14:56.148+08:00","fullname":"Tester 1","username":"tester1","admin":false,"auth_token":"YpEEF9xFJuDo8x-y7Zqr"}},{"id":"31a3098710d2a21ddee47e269a3f8fe1ad3831d1c29666e3","activity":"Newly created event to test invitation system","location":"My house","datetime":"2015-08-30T00:00:00.000+08:00","description":"hola amigos","created_at":"2015-08-04T19:12:03.726+08:00","updated_at":"2015-08-04T19:12:03.726+08:00","host":{"id":2,"created_at":"2015-08-04T17:59:09.852+08:00","updated_at":"2015-08-04T22:14:56.148+08:00","fullname":"Tester 1","username":"tester1","admin":false,"auth_token":"YpEEF9xFJuDo8x-y7Zqr"}}]} --}}