<div class="card grey lighten-5">
  <div class="card-content grey-text text-darken-2">
    <span class="card-title grey-text text-darken-2" style="font-weight: 600"><h4>{{card-data.activity}}</h4></span>
    <blockquote>
      <h6 class="grey-text text-darken-1">{{moment-format card-data.datetime 'LLL'}}</h6>
      <h6 class="grey-text text-darken-1">{{card-data.location}}</h6>    
      <div class="divider" style="margin:20px 20px 20px 0px"></div>
    </blockquote>
    <h6>{{card-data.description}}</h6>
    <div class="divider" style="margin:20px"></div>
    
    <div class="card-panel light-green lighten-1">
      <b class="white-text">Accepted</b>
      <ul class="white-text">
      {{#each invitation-details.accepted as |accepted|}}
        <li>{{accepted.fullname}}</li>
      {{else}}
      Nobody has accepted this event yet :(
      {{/each}}
      </ul>
    </div>

    <div class="card-panel red lighten-2">
      <b class="white-text">Rejected</b>
      <ul class="white-text">
      {{#each invitation-details.rejected as |rejected|}}
        <li>{{rejected.fullname}}</li>
      {{else}}
      Nobody has rejected this event yet :)
      {{/each}}
      </ul>
    </div>
  </div>
  
  <div class="card-action" style="text-align:right; border:none; padding-bottom:10px">
    <i class="grey-text text-darken-1">Event is happening {{moment-from-now card-data.datetime}}</i>
  </div>

  <div class="card-action" style="float:right">
    <a class="red-text darken-4 response-button" {{action "decline"}}>Decline</a>
    {{#link-to 'invitations.suggest' card-data class="amber-text darken-4 response-button"}}Suggest{{/link-to}}
    <a class="light-green-text accent-4 response-button" {{action "accept"}}>Accept</a>
  </div>
</div>

{{back-button type="invitations"}}
