<div class="card grey lighten-5" style="overflow: visible">
  <div class="card-content grey-text text-darken-2">
  <form {{action "submitSuggestion" on="submit"}}>
    <div class="input-field">
      <p class="grey-text">Suggestion</p> 
        <select id="dropdown">
          <option value="" disabled selected>Choose your suggestion</option>
          <option value="suggest_activity">Activity</option>
          <option value="suggest_datetime">Date & Time</option>
          <option value="suggest_location">Location</option>
        </select>      
    </div>
    {{#each errors.type as |error|}}
        <label class="red-text">{{error.message}}</label>
      {{/each}}
    <br>

    <div class="form-group" id="text-fields">
    <p class="grey-text">Value</p> 
    {{#if errors.value}}    
      <input type="text" id="suggestionText" class="invalid">
      {{#each errors.value as |error|}}
        <label class="red-text">{{error.message}}</label>
      {{/each}}   
    {{else}}
      <input type="text" id="suggestionText">

      {{!-- Fuck I actually need both the date and time picker UGHHHH --}}
      {{!-- Time picker --}}
      <div class="form-group" id="timepicker">
        {{input value=event.time data-default=event.time id="time-picker"}}
        {{#if errors.datetime}}
          {{#each errors.datetime as |error|}}
            <label class="red-text">{{error.message}}</label>
          {{/each}}
          <script type="text/javascript">
            $('#time-picker').addClass('invalid');
          </script>
        {{else}}
          <script type="text/javascript">
            $('#time-picker').removeClass('invalid');
          </script>
        {{/if}}
      </div>
    {{/if}}
    </div>

    <button class="btn btn-primary waves-effect waves-light" type="submit">Submit</button>
  </form>    
  </div>
</div>

{{!-- I vaguely remember you have to pass in id to force the model to refresh...? --}}
{{!-- It's under link-to documentation --}}
{{#link-to 'invitations.show' card-data.id class="waves-effect waves-light btn grey"}}Back to Invitation Details{{/link-to}}

<script type="text/javascript">
  $(document).ready(function() {
    $("#timepicker").hide();
    $('select').material_select();
    $("#dropdown").change(function() {
      if ($("#dropdown").val() === "suggest_datetime") {
        $("#timepicker").show();
        $("#suggestionText").hide();
      } else {
        $("#suggestionText").show();
        $("#timepicker").hide();
      }
    });
    var input = $('#time-picker');
    input.clockpicker({
        autoclose: true
    });
  });
</script>
