{{input type="text" placeholder="Username" value=username}}
{{input type="text" placeholder="Display Name" value=displayname}}
{{input type="password" placeholder="Password" value=password}}
{{input type="password" placeholder="Password" value=passwordConfirm}}
<button {{action "registerUser"}}>Submit</button>

<div>
  {{errorMessage}}
</div>